@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600;700;800&family=Noto+Sans+Arabic:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F9FF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F9FF;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Sans Arabic', sans-serif;
}

/* Use tabular numbers for monetary values */
.amount-number {
  font-family: 'Be Vietnam Pro', monospace;
  font-feature-settings: "tnum";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
